.stats-card {
  border-radius: var(--border);
  display: flex;
  flex-direction: column;
  font-size: var(--base-fs);
  max-width: 420px;
  width: 100%;
}

.stats-card-img,
.stats-card-img img,
.stats-card-img::before {
  border-radius: var(--border) var(--border) 0 0;
}

.stats-card-img {
  position: relative;
  height: 240px;
  width: 100%;
}

.stats-card-img::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--soft-violet);
  opacity: 0.5;
}

.stats-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stats-card-body {
  background-color: var(--dark-desaturated-blue);
  padding: 40px 20px;
  text-align: center;
  line-height: 1.3;
  border-radius: 0 0 var(--border) var(--border);
}

.stats-card-description,
.stats-card-title {
  font-family: var(--font-inter);
  color: var(--white);
}

.stats-card-title,
.stats-card-highlights .stat-value {
  font-size: 1.6em;
  font-weight: 700;
}

.stats-card-title strong {
  color: var(--soft-violet);
}

.stats-card-description {
  color: var(--slightly-white-1);
  font-size: 0.9em;
  margin: 20px 0 48px;
  line-height: 1.8;
}

.stats-card-highlights {
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: var(--font-lexend);
  gap: 32px;
  letter-spacing: 0.4px;
  line-height: 1.6;
  text-transform: uppercase;
}

.stats-card-highlights .stat-heading {
  color: var(--slightly-white-2);
  font-size: 0.8em;
}

@media screen and (min-width: 1024px) {
  .stats-card {
    flex-direction: row-reverse;
    max-width: 1114px;
  }

  .stats-card-img,
  .stats-card-img img,
  .stats-card-img::before {
    border-radius: 0 var(--border) var(--border) 0;
  }

  .stats-card-img {
    height: auto;
  }

  .stats-card-body {
    border-radius: var(--border) 0 0 var(--border);
    flex-basis: 52%;
    padding: 60px 120px 60px 60px;
    text-align: left;
  }

  .stats-card-img {
    flex-basis: 48%;
  }

  .stats-card-title {
    font-size: 2.4em;
  }

  .stats-card-description {
    font-size: 1em;
    margin: 32px 0 78px;
  }

  .stats-card-highlights {
    flex-direction: row;
    justify-content: space-between;
  }
}
